<div class="row">
	<div class="col-12">
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="card" style="height: 100%;">
				<div class="card-body">
					<div class="card-block">
						<h4 class="card-title">To Do</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="badge bg-primary float-right">7</span> Cras justo odio
						</li>
					</ul>
					<div class="card-block">
						<a class="card-link success">Card link</a>
						<a class="card-link success">Another link</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="card" style="height: 100%;">
				<div class="card-body">
					<div class="card-block">
						<h4 class="card-title">Done</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="badge bg-primary float-right">7</span> Cras justo odio
						</li>
					</ul>
					<div class="card-block">
						<a class="card-link success">Card link</a>
						<a class="card-link success">Another link</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="card" style="height: 100%;">
				<div class="card-body">
					<div class="card-block">
						<h4 class="card-title">Archive</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="badge bg-primary float-right">7</span> Cras justo odio
						</li>
					</ul>
					<div class="card-block">
						<a class="card-link success">Card link</a>
						<a class="card-link success">Another link</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>