<div class="row">
	<div class="col-12">
		<ul class="list-group">
			<li class="list-group-item">
				<input [(ngModel)]="inputTodo" name="inputTodo" class="form-control float-left" type="text">
				<button class="btn btn-raised gradient-mint white float-right" name="add" (click)="toAdd(inputTodo)">Add</button>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="card" style="height: 100%;">
			<div class="card-body">
				<div class="card-block">
					<h4 class="card-title">To Do</h4>
				</div>
				<ul class="list-group">
					<li *ngFor="let todo of todoList" class="list-group-item">
						<button (click)="doCheck(todo)" class="btn btn-flat btn-small bg-primary white float-right"><i class="fa fa-check"></i></button> 
						<button (click)="doRemove(todo)" class="btn btn-flat btn-small bg-secondary white float-right"><i class="fa fa-close"></i></button> 
						{{ todo }}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="card" style="height: 100%;">
			<div class="card-body">
				<div class="card-block">
					<h4 class="card-title">Done</h4>
				</div>
				<ul class="list-group">
					<li *ngFor="let done of doneList" class="list-group-item">
							<button (click)="undoCheck(done)" class="btn btn-flat btn-small bg-primary white float-right"><i class="fa fa-upload"></i></button> 
						{{ done }}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="card" style="height: 100%;">
			<div class="card-body">
				<div class="card-block">
					<h4 class="card-title">Archive</h4>
				</div>
				<ul class="list-group">
					<li *ngFor="let archive of archiveList" class="list-group-item">
						{{ archive }}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>